        ../../2025/
        ../../2026/
        ../../Background.jpg
        ../../Sowe/
        ../../abap/
        ../../anleitungsprojekt/
        ../../db/
        ../
        ../../java/
        ../../jdk-25_windows-x64_bin.msi
        ../../komm_re/
        ../../launch.json
        ../../lebenslauf.pdf
        ../../netbeans/
        ../../ps/
        ../../structorizer.exe
        ../../web/
        ../../zuhauseRepo/.github/
        ../../zuhauseRepo/repository/